# Project 1
Importing csv data.

Compare arrival delays for two airlines.
 - Using mean number of delays between the two airlines

In [8]:
import pandas as pd

In [19]:
df = pd.read_csv('project.csv')

In [20]:
df

Max = df['Phoenix'].max()

In [21]:
Parsed = df.loc[[1, 3]]
Parsed

,Unnamed: 0,Unnamed: 1,Los Angeles,Phoenix,San Diego,San Francisco,Seattle
1,ALASKA,delayed,62,12,20,102,305
3,AM WEST,delayed,117,415,65,129,61

In [22]:
Parsed.mean()

Los Angeles       89.5
Phoenix          213.5
San Diego         42.5
San Francisco    115.5
Seattle          183.0
dtype: float64